{% extends 'base.html' %}
{% block title %}
{{title}} :: {{block.super}}
{% endblock %}
{% block sidebar %}
{% include 'inc/_sidebar.html' %}
{% endblock %}
{% block content %}
<!--news переназначили-->
{% for item in news %}
<div class="card mt-3 mb-3">

    <div class="card-header">
        Категорія: <a href="{{ item.category.get_absolute_url }}">{{item.category}}</a>
    </div>
    <div class="card-body">
        <div class="media">
            {% if item.photo %}
            <img src='{{item.photo.url}}' class="card-img-top" alt="..." style="width: 50px">
            {% endif %}
            <div class="media-body">
                <h5 class="card-title">{{item.title}}</h5>
                <p class="card-text">{{item.content}}</p>
                <a href='{{ item.get_absolute_url }}' class="btn btn-primary">Read more</a>
            </div>
        </div>

    </div>
    <div class="card-footer text-muted">
        {{item.created_at}}
    </div>
</div>
{% endfor %}
{% endblock %}
